body {
  *font-family: Open Sans,Helvetica,sans-serif;
  font-weight: 300;
  color:#fff;
  font-size: 16px;
  line-height: 1.42;
}
a {
  color:inherit;
}
.wrapper { 
position: relative;
width: 1920px;
height: 2930px;
background-color: #FFFFFF;
}
ul {
  padding:0;
  margin:0; 
}
ul li {
  list-style-type:none;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight:normal;
}
*{
  box-sizing: border-box;
}
.container {
  width: 1141px;
  margin:0 auto ;  
  width: 1140px;
}
.header {
  height: 197px;
  position: relative;
  margin-bottom: 156px;
}
.logo {
  display:inline-block;
  position: absolute;
  left:0;
  top: 29px;
 }
.menu {
position: absolute;
left: 554px;
top: 42px;
}
.contacts {
  position:absolute;
  top: 30px;
  right:0;
  font-style: normal;
  text-align: right;
}
.menu__item{
  display:inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link{
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover{
  color:#fff;
}
.contacts {
  font-style: normal;
  text-align: right;
}
.contacts__phone {
text-decoration: none;
font-size: 26px;
margin-bottom:4px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #EDEDED;
}
.hero__text__section {
  width: 511px;
}
.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero__subtitle {
  font-size: 18px;
  color:  #FFFFFF;
  margin-bottom: 45px;
}
.btn {
  background: #F5170E;
  border-radius: 35px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.btn:hover {
  background: #FFFFFF;
}


.section {
  margin-bottom: 227px;
}
.section__title{
  font-size: 36pc;
  font-weight: bold;
  margin-bottom: 51px;
}
.offers__item {
  min-height: 470px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 22px;
  width: 362px;
  color: #010001;
}
.offers__item:last-child {
  margin-right: 0;
}
.offers__header {
  min-height: 144px;
  margin-bottom: 33px;
  position: relative;
}
.offers__header-img {
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -44px;
  margin-top: -32px;
}
.offers__content {
  padding: 36px 30px;
  color:#010001;
}
.offer__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}
.offers__calendar {
  display: inline-block;
  vertical-align: top;
  width: 106px;
}




